<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%=blocks.title%></title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/js/vendor/tabaga/dragAndDrop/dragAndDrop.css' />
  <link rel='stylesheet' href='/js/vendor/tabaga/tree/treeControl.css' />
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/vendor/jquery.history.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/tabaga.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/historyMaster.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/tree/TreeControl.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/dragAndDrop/DragScrollManager.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/dragAndDrop/dragMaster.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/dragAndDrop/DragObject.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/dragAndDrop/DropTarget.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/contextmenu/ContextMenu.js"></script>
  <script type="text/javascript" src="/js/vendor/tabaga/contextmenu/contextmenuMaster.js"></script>
  
  <script type="text/javascript" src="/js/megion.js"></script>
  
</head>
<body>
<header>
  <%-blocks.header%>
</header>

<div id="loadingStatus" class="loadingStatusLabel" style="display: none">
	<div>Loading...</div>
</div>

<%-partial('../partials/topNavigation')%>

<h1><%=blocks.title%></h1>

<div>
  <%-body -%>
</div>

<div>
  <%-blocks.footer%>
</div>
</body>
</html>